basePath: /
definitions:
  models.VisitRecord:
    properties:
      browser:
        type: string
      city:
        type: string
      country:
        type: string
      created_on:
        type: integer
      device:
        type: string
      id:
        type: integer
      ip:
        type: string
      language:
        type: string
      modified_on:
        type: integer
      os:
        type: string
      page:
        type: string
      referer:
        type: string
      session_id:
        type: string
      user_agent:
        type: string
      visit_time:
        type: string
    type: object
host: api.webbleen.com
info:
  contact:
    email: contact@webbleen.com
    name: Webbleen
    url: https://webbleen.com
  description: Webbleen 博客 API 服务，提供统计、内容管理等功能
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Webbleen 博客 API 服务
  version: "1.0"
paths:
  /stats/behavior:
    get:
      consumes:
      - application/json
      description: 获取设备、浏览器、操作系统、地理位置等用户行为统计
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            additionalProperties: true
            type: object
      summary: 获取用户行为分析
      tags:
      - 统计
  /stats/visit:
    post:
      consumes:
      - application/json
      description: 记录用户访问信息，包括页面路径、设备信息、地理位置等
      parameters:
      - description: 访问记录
        in: body
        name: visitRecord
        required: true
        schema:
          $ref: '#/definitions/models.VisitRecord'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            additionalProperties: true
            type: object
      summary: 记录访问
      tags:
      - 统计
  /stats/visits:
    get:
      consumes:
      - application/json
      description: 获取今日访问量、累计访问量、独立访客等统计信息，支持按语言过滤
      parameters:
      - default: '""'
        description: 语言代码
        in: query
        name: language
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            additionalProperties: true
            type: object
      summary: 获取访问统计概览
      tags:
      - 统计
schemes:
- https
swagger: "2.0"
